	
      <div class="row">
        <div class="large-4 columns">
          <h1>CSAir 2.0 <small></small></h1>
          <hr/>
        </div>

        
      </div>
     
       
     
     
       
     
      <div class="row">
     
         
        <div class="large-9 columns" role="content">
          <article>
            <h3><a href="#">File name</a></h3>
            <div class="row">
              <div class="large-6 columns">
                    <table style="width:100%">
                      <tr>
                        <td>File</td>
                        <td>Path</td>   
                        <td>Size</td>
                        <td>Author</td>
                        <td>Revision</td>
                      </tr>
                      <tr>
                        <td>Bishop.java</td>
                        <td>subversion/gaeta2/Bishop.java</td>    
                        <td>984</td>
                        <td>gaeta2</td>
                        <td>4753</td>
                      </tr>
                    </table>
                  </div>
              <div class="large-12 columns">
                <iframe  height="500px" width="100%" src="https://subversion.ews.illinois.edu/svn/sp15-cs242/gaeta2/Chess_1.0/Bishop.java">
                  <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
            </div>
          </article>
          <hr/>
        </div>
     
        <aside class="large-3 columns">
     
          <h5>Files</h5>
          <ul class="side-nav">
            <li><a href="#">Graph.py</a></li>
            <li><a href="#">Filename 2</a></li>
            <li><a href="#">Filename 3</a></li>
            <li><a href="#">Filename 4</a></li>
            <li><a href="#">Filename 5</a></li>
            <li><a href="#">Filename 6</a></li>
            <li><a href="#">Filename 7</a></li>
            <li><a href="#">Filename 8</a></li>
            <li><a href="#">Filename 9</a></li>
          </ul>
     
          <div class="panel">
            <h5>Project Description</h5>
            <p>Mar-2015 <br>This project fulfilled the task of developing the 'Model' component of the MVC project architechture for a Chess program.</p>
          </div>
     
          </aside> 
        </div>